@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

$Linear_Gradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%);
$Very_Light_Grayish_Blue: hsl(240, 78%, 98%);
$Light_Grayish_Blue: hsl(234, 14%, 74%);
$Grayish_Blue: hsl(233, 13%, 49%);
$Dark_Grayish_Blue: hsl(232, 13%, 33%);

:root{
    font-size: 15px;
}

body{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    background-color: $Very_Light_Grayish_Blue;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

.bg1{
    position: fixed;
    top: 0;
    right: 0;
    width: 26.05%;
    height: 77.5%;
    z-index: -1;
    img{
        width: 100%;
        height: 100%;
    }
}
.bg2{
    position: fixed;
    left: 0;
    top: 100%;
    transform: translateY(-100%);
    width: 24.5%;
    height: 35.75%;
    z-index: -1;
    img{
        width: 100%;
        height: 100%;
    }
}

header{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.7%;
    h1{
        margin-top: 6.5%;
        margin-bottom: 2rem;
        font-size: 1.9rem;
        color: $Grayish_Blue;
    }
    .sub-title{
        display: flex;
        justify-content: center;
        align-items: center;
        h2{
            font-size: 1rem;
            color: $Light_Grayish_Blue;
        }
        .switch{
            margin: 0 1.5rem;
            width: 53px;
            height: 29px;
            border-radius: 5rem;
            position: relative;
            padding: 0;
            outline: none;
            border: 0;
            background: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
            cursor: pointer;
            &:hover{
                background: hsl(236, 66%, 84%);
            }

            &::before{
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 23px;
                height: 23px;
                display: block;
                margin: 3px 3px;
                border-radius: 50%;
                background-color: #ffffff;
                transition: .5s ease all;
            }
        }
        .active{
            &::before{
                right: 45%;
            }
        }
        
    }
}

.container{
    margin: 0 auto;
    width: 73%;
    display: flex;
    justify-content: center;
    align-items: center;
    .card{
        width: 50%;
        height: auto;
        padding: 2rem 2rem;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3{
            margin: 0;
            margin-bottom: 1.1rem;
            font-size: 1.1rem;
            color: $Grayish_Blue;
        }
        .payment{
            display: flex;
            align-items: center;
            .dollar{
                font-size: 2.4rem;
                color: $Dark_Grayish_Blue;
            }
            .price-basic, .price-pro, .price-master{
                margin-left: .5rem;
                font-size: 4.4rem;
                color: $Dark_Grayish_Blue;
            }
        }
        ul{
            margin: 0;
            margin-top: 7.5%;
            margin-bottom: 10.4%;
            padding: 0;
            width: 100%;
            li{
                border-top: 1px solid #d3d3d3;
                color: $Grayish_Blue;
                list-style: none;
                box-sizing: border-box;
                padding: .934rem;
                text-align: center;
                &:last-child{
                    border-bottom: 1px solid #d3d3d3;
                }
            }
        }
        button{
            width: 100%;
            height: 2.6rem;
            border: 0;
            border-radius: .5rem;
            background: linear-gradient(135deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
            box-sizing: border-box;
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            color: #ffffff;
            font-size: .75rem;
            letter-spacing: 2px;
            outline: none;
            &:hover{
                color: hsl(237, 63%, 64%);
                background: #ffffff;
                border: 1px inset hsl(237, 63%, 64%);
                cursor: pointer;
            }
        }
        &:nth-child(even){
            padding: 3.35rem 2rem;
            border-radius: .6rem;
            background-image: linear-gradient(135deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
            box-shadow: 0px 9px 35px -6px rgba(217,217,217,1);
            h3, .dollar, .price-pro, li{
                color: #ffffff;
            }
            ul{
                li{
                    border-top: 1px solid #d3d3d370;
                    &:last-child{
                        border-bottom: 1px solid #d3d3d370;
                    }
                }
            }
            button{
                background: #ffffff;
                color: hsl(237, 63%, 64%);
                &:hover{
                    color: #ffffff;
                    background-image: linear-gradient(135deg, hsl(236, 62%, 73%), hsl(237, 63%, 64%));
                    border: 1px solid #ffffff;
                }
            }
        }
        &:first-child{
            border-top-left-radius: .6rem;
            border-bottom-left-radius: .6rem;
            box-shadow: -15px 9px 35px -6px rgba(217,217,217,1);
        }
        &:last-child{
            border-top-right-radius: .6rem;
            border-bottom-right-radius: .6rem;
            box-shadow: 15px 9px 35px -6px rgba(217,217,217,1);
        }
    }
}

footer {
    margin-top: 4%;
    margin-bottom: 1%;
    font-size: 11px;
    text-align: center;
    font-family: sans-serif;
    color: $Grayish_Blue;
    a {
        text-decoration: none;
        color: hsl(228, 45%, 44%);
    }
}

@media screen and (max-width: 1300px){
    :root{
        font-size: 14px;
    }
}

@media screen and (max-width: 1215px){
    :root{
        font-size: 13px;
    }
}

@media screen and (max-width: 1128px){
    .container{
        width: 85%;
    }
}

@media screen and (max-width: 970px){
    :root{
        font-size: 12px;
    }
    .container{
        width: 90%;
    }
}

@media screen and (max-width: 845px){
    :root{
        font-size: 15px;
    }
    header{
        h1{
            font-size: 2.2rem;
            margin-top: 24%;
        }
        .sub-title{
            margin-top: 1%;
        }
    }
    .container{
        width: 71%;
        margin-top: 20%;
        flex-direction: column;
        .card{
            width: 100%;
            padding: 2.3rem 2rem 2rem;
            margin-bottom: 12.3%;
            h3{
                margin-bottom: 1.4rem;
            }

            .payment{
                .dollar{
                    font-size: 2.6rem;
                }
                .price-basic, .price-pro, .price-master{
                    font-size: 4.6rem;
                }
            }

            ul{
                margin-top: 10%;
                margin-bottom: 12%;
                li{
                    padding: 1.1rem;
                }
            }
            button{
                height: 3rem;
            }
            &:nth-child(even){
                padding: 2.3rem 2rem 2rem;
            }
        }
    }
}